{% extends 'material/base.html' %}


{% block content %}

    <div class="container">
        <img src="{{url_for('static', filename='images/househdr.png')}}" class="responsive-img" align="middle" /> 
        <h2>USA House Price Prediction</h2>      
        <div class="form">
            <form method=post enctype=multipart/form-data>
                Enter Age of house: (1-10) <input type="number" name='age' value = {{age}}  required="true" min="1" max="10"><br>
                Enter No of Rooms: (2-11): <input type="number" name='rm' value = {{rm}} required="true" min="2" max="11"><br>
                Enter No of Bedroom: (1-7) <input type="number" name='brm' value = {{brm}} required="true" min="1" max="7"> <br>
                Enter Area Population: (3,000-70,000) <input type="number" name='population' value = {{population}} required="true" min="3000" max="70000"><br>
                <input type="submit"  value="Predict" class="btn blue darken-4" >
            </form>
            <p> House Predicted Price: <h4>{{pred}}</h4></p>
        </div>

    </div>
{% endblock %}